<%= form_for([:table, @person]) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <h2>Phones</h2>
  <table border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Place</th>
        <th>Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.nested_fields_for :phones, show_empty: true do |f|
        if f
          render 'phone', f: f
        else
          render 'phone_none'
        end
      end -%>
    </tbody>
  </table>
  <a href="#" class="add">add phone</a>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
